<!-- @dsCard group="Actions" height=120 -->
<!doctype html>
<html>
<head><meta charset="utf-8"><title>Checkbox</title></head>
<body>
<div id="root"></div>
<script>
(function(){
var E = window.EchoConnect, h = React.createElement;
function App(){
return h("div", {className:"ec-pad", style:{maxWidth:380}}, h(E.Checkbox, {defaultChecked:true}, "Open on the laptop when done"), h(E.Checkbox, null, "Delete from phone after sending"));
}
ReactDOM.createRoot(document.getElementById("root")).render(h(App));
})();
</script>
</body>
</html>
