[Desktop Entry]
Type=Application
Name=EchoFiles
GenericName=File Manager
Comment=Fast native file manager with indexed search
Exec=echofiles %U
Icon=echofiles
Terminal=false
Categories=System;FileTools;FileManager;Utility;
MimeType=inode/directory;x-scheme-handler/smb;x-scheme-handler/sftp;x-scheme-handler/ftp;x-scheme-handler/ftps;
StartupWMClass=echofiles
Keywords=files;folders;search;explorer;network;smb;sftp;ftp;
Actions=Settings;

[Desktop Action Settings]
Name=Settings
Exec=echofiles --settings
