[Desktop Entry]
Type=Application
Name=EchoFiles
GenericName=File Manager
Comment=Fast file manager with indexed search
Exec=echofiles %F
Icon=echofiles
Terminal=false
Categories=System;FileTools;FileManager;Utility;
MimeType=inode/directory;
StartupWMClass=echofiles
Keywords=files;folders;search;explorer;
Actions=Settings;

[Desktop Action Settings]
Name=Settings
Exec=echofiles --settings
